@import "tailwindcss";

:root {
  --background: #feadff;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
}

.hero-section-background {
  background:
    repeating-linear-gradient(
      to right,
      #FEC7FF 0px,
      #FEC7FF 100px,
      transparent 100px,
      transparent 206px
    ),
    linear-gradient(0deg, #FEADFF, #FEADFF);
}

@media (max-width: 768px) {
  .hero-section-background {
    background:
      repeating-linear-gradient(
        to right,
        #FEC7FF 0px,
        #FEC7FF 32px,
        transparent 32px,
        transparent 64px
      ),
      linear-gradient(0deg, #FEADFF, #FEADFF);
  }
}

@keyframes hero-soft-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-hero-soft-bounce {
  animation: hero-soft-bounce 2.5s ease-in-out infinite;
}
